{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div class="row">
    
        <div class="card-body text-center">
        <h4><a>{{pitch.title}}</a></h4>
        <h5 class="card-text text-center">{{pitch.content}}.</h5>
        </div>

        <div class="container">
        <div class="row">
        {{wtf.quick_form(form)}}
        </div>
        </div>
    
        <div class="container">
            <div class="col-md-12">
                <h4 >Comments</h4>
                <p>{{ macro.displayComment(comment) }}</p>
            </div>
                
        </div>
        
</div>
</body>
</html>
</html>